<html>
	<title>
		Arganium Shmoocon 2017
	</title>
	<body>
		<p>Congratulations on surviving Arganium!<br>
                <table border=1>
		  <tr>    
		    <th>Time</th>
		    <th>Par Time</th>
		    <th>Kills</th>
		    <th>Secrets</th> 
		    <th>Challenges</th>
		    <th>Total</th>
		  </tr>
		  <tr>
		    <td>
		      <div id="time"><%= time %></div>
		    </td>
		    <td>
		      <div id="partime"><%= par %></div>
		    </td>
		    <td>
		      <div id="kills"><%= kills %></div>
		    </td>
		    <td>
		      <div id="secrets"><%= secrets %></div>
		    </td>
		    <td>
		      <div id="challenges"><%= challenges %></div>
		    </td>
		    <td>
		      <div id="total"><%= total %></div>
		    </td>
		  </tr>
		</table>

		<p>To find out more about Arganium, check out these links:<br>
		Github:  <a href="https://github.com/frozenfoxx/arganium/">https://github.com/frozenfoxx/arganium/</a><br>
		Freenode IRC:  #arganium</p>

		<p>Game created by FrozenFOXX<br>
		Github:  <a href="https://github.com/frozenfoxx/">frozenfoxx</a><br>
		Twitter:  <a href="https://twitter.com/frozenfoxx">@frozenfoxx</a><br>
		Shmoocon Badge ID:<br>
		<img src=qrcode.png></p>
	</body>
</html>
